@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900&display=swap');

:root {
    --main-accent-color: #03bad5;
    --section-title-color-dark: #37474f;
    --body-color: #495057;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.6rem;
    line-height: 4rem;
    font-weight: 800;
}

.logo-vnpt {
    width: 160px;

}

.btn-white {
    border: 2px solid #ffffff;
    border-radius: 2rem;
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn-white:hover {
    background-color: #ffffff;
    color: var(--main-accent-color);
    border: 2px solid #ffffff;
}

/* Section title */
.section-title {
    position: relative;
}

h2.section-title-heading {
    color: var(--section-title-color-dark);
    padding-top: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
}

.section-title::after {
    content: '';
    position: absolute;
    border-bottom: 2px solid var(--main-accent-color);
    width: 8%;
    top: 80px;
}

.section-title:hover::after {
    width: 12%;
    transition: all 0.6s ease-out;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;

}



/* ============ NAVIGATION =============== */

.navbar {
    padding-top: 1.2rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .85rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #27778b;
}

.navbar.active {
    background-color: rgba(0,172,217, 0.7);
    box-shadow: 1px 2px 10px rgba(0,0,0,0.1);
}


/* ============ HERO =============== */

#hero {
    background-image: linear-gradient(to right, rgba(0,172,217, 0.62), rgba(105,240,174, 0.52)), url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 8rem;
    padding-bottom: 8rem;
    position: relative;
}

#hero::after {
    content: '';
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 15%;
    transform: skewY(-2deg);
    transform-origin: bottom right;
    bottom: 0;
    right: 0;
    left: 0;

}

.main-hero-content h1 {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: .11rem;
}

.main-hero-content p {
    color: #ffffff;
    margin-top: 2rem;
    margin-bottom: 3rem;
    line-height: 1.7rem;
    font-size: 1.2rem;
}

.image-box img {
    position: absolute;
    top: 3.5rem;
    z-index: 1;
}

/* ============ ABOUT =============== */

#about i {
    color: var(--main-accent-color);
}

#about h3 {
    color: var(--section-title-color-dark);
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
}

#about p {
    color: var(--body-color);
    font-size: 1rem;
    line-height: 1.7rem;
}

#about {
    position: relative;
    padding-bottom: 8rem;
}

#about::after {
    content: '';
    position: absolute;
    background-color: #fafafa;
    width: 100%;
    height: 15%;
    transform: skewY(-2deg);
    transform-origin: bottom right;
    bottom: -50px;
    right: 0;
    left: 0;
}

/* ============ benefitS =============== */

#benefits {
    background-color: #fafafa;
    margin-top: 3rem;
}

#benefits img {
    display: block;
    margin: 0 auto;
}

#benefits .benefit-block {
    text-align: center;
    height: 500px;
}

#benefits .benefit-block h3 {
    color: var(--section-title-color-dark);
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
}

#benefits .benefit-block img {
    padding-bottom: 1rem;
}

#benefits .benefit-block p {
    color: var(--body-color);
    font-size: 1rem;
    line-height: 1.7rem;
}

/*--------------------------------------------------------------
# overviews
--------------------------------------------------------------*/
#overview {
    margin-bottom: 10rem;
}

.section-description-heading {
  margin-bottom: 20px;
  margin-top: 20px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
    padding-bottom: 4rem !important;
}

.swiper-slide {
  background: #fff;
}

.swiper-slide img {
  max-width: 100%;
  height: 500px;
  margin: 0 auto;
  display: block;
  border-radius: 10px 10px 10px 10px;
}

.overviews .overview-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 45px;
  color: #111;
}
.overviews .overview-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 0 45px;
}
.overviews .overview-item .quote-icon-left, .overviews .overview-item .quote-icon-right {
  color: #d8dee1;
  font-size: 26px;
}
.overviews .overview-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}
.overviews .overview-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}
.overviews .overview-item p {
  font-style: italic;
  margin: 0 15px 0 15px;
  padding: 20px 20px 60px 20px;
  background: #f4f6f7;
  position: relative;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}
.overviews .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.overviews .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #009cea;
}
.overviews .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #009cea;
}

/* ============ policies =============== */

#policies {
    background-image: linear-gradient(to right, rgba(0,172,217, 0.62), rgba(105,240,174, 0.52)), url('../img/policy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 15rem;
    position: relative;
}

#policies::before {
    content: '';
    position: absolute;
    background-color: #fafafa;
    width: 100%;
    height: 20%;
    transform: skewY(-2deg);
    transform-origin: top right;
    top: -6rem;
    right: 0;
    left: 0;
}

#policies .policies-title h2 {
    padding-top: 10rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
}

#policies .policies-title p {
    color: #ffffff;
    text-align: left;
    font-size: 1.2rem;
}

#policies .policies-title .policies-btns {
    margin-top: 4rem;
}

#policies .policies-title .policies-btns a {
    border: 2px solid #ffffff;
    border-radius: 2rem;
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
    padding: .8rem 2rem;
}

#policies .policies-title .policies-btns a:hover {
    background-color: #ffffff;
    color: var(--main-accent-color);
    border: 2px solid #ffffff;
    text-decoration: none;
}

.marginAuto-10 {
    margin: -10% auto;
}

.policy-content {
    margin-left: -150px;
    margin-right: -150px;
}

/* ============ achievement =============== */

#achievement {
    padding-bottom: 7rem;
    position: relative;
}

#achievement::before {
    content: '';
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 20%;
    transform: skewY(-2deg);
    transform-origin: top right;
    top: -6rem;
    right: 0;
    left: 0;
}

#achievement .section-title {
    margin-bottom: 5rem;
}

#achievement .achievement-table {
    background-color: #ffffff;
    box-shadow: -1px 0px 12px 4px rgba(0,0,0, 0.24);
    -webkit-box-shadow: -1px 0px 12px 4px rgba(0,0,0, 0.24);
    -moz-box-shadow: -1px 0px 12px 4px rgba(0,0,0, 0.24);
    -o-box-shadow: -1px 0px 12px 4px rgba(0,0,0, 0.24);
    margin-right: 1rem;
    width: calc(90% / 3);
    padding-left: 0;
    padding-right: 0;
}

#achievement .achievement-table .table-header h4 {
    color: var(--section-title-color-dark);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
}

#achievement .achievement-table .table-content {
    margin-top: 2rem;
}

#achievement .achievement-table .table-content ul li {
    list-style: none;
    text-align: center;
    padding-bottom: 1rem;
    font-weight: 600;
}

#achievement .achievement-table .table-content img {
    max-width:100%;
    height:auto;
    margin: 0 auto;
    display: block;
}

#achievement .achievement-table .table-footer {
    padding-bottom: 3rem;
}

#achievement .achievement-table .table-footer a {
    background: linear-gradient(to right, rgba(0,172,217, 0.62), rgba(105,240,174, 0.52));
    padding: .8rem 2rem;
    border-radius: 2rem;
    color: #ffffff;
    font-weight: 600;
}

#achievement .achievement-table .table-footer a:hover {
    text-decoration: none;
    background: #ffffff;
    color: rgba(0,172,217, 0.62);
    border: 2px solid rgba(0,172,217, 0.62);
}

#achievement .table-header {
    margin: 0;
    width: 100%;
}

#achievement .achievement-table .table-header {
    background: linear-gradient(to right, rgba(0,172,217, 0.62), rgba(105,240,174, 0.52));
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #ffffff;
    position: relative;
}

#achievement .achievement-table .table-header img {
    position: absolute;
    left: 5px;
    top: 5px;
}

#achievement .achievement-table .table-header h4 {
    color: #ffffff;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
}

.show-statistic {
   margin-bottom: 5rem;
}

.statistic {
    text-align: center;
    width: 50%;
}

.statistic:nth-child(1) {
    border-right: solid;
    border-color: rgba(0,172,217, 0.62);
}

.statistic-title {
    color: rgba(0,172,217, 0.62);
    font-size: 3.5rem;
}


/* ============ Contact =============== */
#contact {
    background-color: #f0f1f3;
    padding-bottom: 5rem;
    padding-top: 8rem;
    position: relative;
}

#contact::before {
    content: '';
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 20%;
    transform: skewY(-2deg);
    transform-origin: top right;
    top: -6rem;
    right: 0;
    left: 0;
}

.btn-contact {
    background: linear-gradient(to right, rgba(0,172,217, 0.62), rgba(105,240,174, 0.52));
    padding: .5rem 2.2rem;
    color: #ffffff;
    font-weight: 600;
    border-radius: 2rem;
    border: none;
}

.btn-contact:hover {
    background: #ffffff;
    color: rgba(0,172,217, 0.62);
    border: 2px solid rgba(0,172,217, 0.62);
}

#contact .contact-details ul li {
    padding-bottom: .8rem;
}

#contact .contact-details ul li i {
    color: rgba(0,172,217, 0.62);
}

/* ============ Footer =============== */
#footer {
    background-color: #2b323f;
    padding-top: 6rem;
    padding-bottom: 2rem;
    position: relative;
}

#footer::before {
    content: '';
    position: absolute;
    background-color: #2b323f;
    width: 100%;
    height: 45%;
    transform: skewY(-2deg);
    transform-origin: top right;
    top: -5.5rem;
    right: 0;
    left: 0;
}

#footer .footer-logo img {
    margin-top: -4.5rem;
}

#footer .social-icons {
    margin-top: -1rem;
}

#footer .social-icons a {
    margin-right: 10px;
    color: #8d8c8c;
}

.copyright p {
    margin-top: 1rem;
    color: #ffffff;
    font-size: .9rem;
}